.css-1uguyjs{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;padding:3rem;}
.css-w8lbxe{border-bottom:0;}
.css-fv3lde{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.css-yerlez{display:block;margin-right:1rem;width:60px;}
.css-pq49hm{font-size:2.75rem;font-weight:lighter;margin:0;}
.css-4dxe9h{display:grid;gap:2rem;grid-template-columns:1fr 200px;margin-left:auto;margin-right:auto;max-width:600px;padding:1rem 0 4rem 0;}@media screen and ( max-width: 700px ){.css-4dxe9h{gap:8px;grid-template-columns:1fr;grid-template-rows:1fr 1fr;max-width:80%;}}
.css-roynbj{box-sizing:border-box;}
.css-175mklm{border:0;clip:rect(1px, 1px, 1px, 1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;word-wrap:normal;}
.css-g22ufg{background-color:transparent;border:none;border-bottom:1px solid #cfcfcf;box-sizing:border-box;display:blcok;font-size:1.25em;font-weight:lighter;height:100%;margin:0 auto;outline:none;-webkit-transition:all 100ms linear;transition:all 100ms linear;width:100%;}@media screen and (max-width: 700px){.css-g22ufg{font-size:1em;}}.css-g22ufg::-webkit-input-placeholder{color:#cfcfcf;-webkit-transition:all 100ms linear;transition:all 100ms linear;}.css-g22ufg::-moz-placeholder{color:#cfcfcf;-webkit-transition:all 100ms linear;transition:all 100ms linear;}.css-g22ufg:-ms-input-placeholder{color:#cfcfcf;-webkit-transition:all 100ms linear;transition:all 100ms linear;}.css-g22ufg:-moz-placeholder{color:#cfcfcf;-webkit-transition:all 100ms linear;transition:all 100ms linear;}.css-g22ufg:hover::-webkit-input-placeholder{color:#cfcfcf;}.css-g22ufg:hover::-moz-placeholder{color:#cfcfcf;}.css-g22ufg:hover:-ms-input-placeholder{color:#cfcfcf;}.css-g22ufg:focus::-webkit-input-placeholder{color:#cfcfcf;}.css-g22ufg:focus::-moz-placeholder{color:#cfcfcf;}.css-g22ufg:focus:-ms-input-placeholder{color:#cfcfcf;}.css-g22ufg:focus:-moz-placeholder{color:#cfcfcf;}
.css-b62m3t-container{position:relative;box-sizing:border-box;}
.css-7pg0cj-a11yText{z-index:9999;border:0;clip:rect(1px, 1px, 1px, 1px);height:1px;width:1px;position:absolute;overflow:hidden;padding:0;white-space:nowrap;}
.css-1s2u09g-control{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-color:hsl(0, 0%, 100%);border-color:hsl(0, 0%, 80%);border-radius:4px;border-style:solid;border-width:1px;cursor:default;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;min-height:38px;outline:0!important;position:relative;-webkit-transition:all 100ms;transition:all 100ms;box-sizing:border-box;}.css-1s2u09g-control:hover{border-color:hsl(0, 0%, 70%);}
.css-1d8n9bt{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:grid;-webkit-flex:1;-ms-flex:1;flex:1;-webkit-box-flex-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;padding:2px 8px;-webkit-overflow-scrolling:touch;position:relative;overflow:hidden;box-sizing:border-box;}
.css-qc6sy-singleValue{color:hsl(0, 0%, 20%);grid-area:1/1/2/3;margin-left:2px;margin-right:2px;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;box-sizing:border-box;}
.css-ackcql{margin:2px;padding-bottom:2px;padding-top:2px;visibility:visible;color:hsl(0, 0%, 20%);-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;display:inline-grid;grid-area:1/1/2/3;grid-template-columns:0 min-content;box-sizing:border-box;}.css-ackcql:after{content:attr(data-value) " ";visibility:hidden;white-space:pre;grid-area:1/2;font:inherit;min-width:2px;border:0;margin:0;outline:0;padding:0;}
.css-1wy0on6{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-align-self:stretch;-ms-flex-item-align:stretch;align-self:stretch;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;box-sizing:border-box;}
.css-1okebmr-indicatorSeparator{-webkit-align-self:stretch;-ms-flex-item-align:stretch;align-self:stretch;background-color:hsl(0, 0%, 80%);margin-bottom:8px;margin-top:8px;width:1px;box-sizing:border-box;}
.css-tlfecz-indicatorContainer{color:hsl(0, 0%, 80%);display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:8px;-webkit-transition:color 150ms;transition:color 150ms;box-sizing:border-box;}.css-tlfecz-indicatorContainer:hover{color:hsl(0, 0%, 60%);}
.css-8mmkcg{display:inline-block;fill:currentColor;line-height:1;stroke:currentColor;stroke-width:0;}
.css-ody3ze{display:grid;gap:3rem;grid-template-columns:repeat(3, minmax( 300px, 1fr ) );list-style-type:none;margin:0 auto;max-width:1400px;padding:0;}@media screen and ( max-width: 1300px ){.css-ody3ze{grid-template-columns:repeat(2, minmax( 300px, 1fr ) );}}@media screen and ( max-width: 850px ){.css-ody3ze{grid-template-columns:5px 2fr 5px;}.css-ody3ze>li{gap:0;grid-column:2;}}
.css-1qxnh7a{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 0 30%;-ms-flex:0 0 30%;flex:0 0 30%;margin:1em auto;max-width:100%;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-bottom:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;}@media screen and ( max-width: 900px ){.css-1qxnh7a{-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;margin:0.5em auto;}}.css-1qxnh7a h2{font-weight:300;margin:0;}@media screen and (max-width: 700px ){.css-1qxnh7a#mobile-hide{display:none;}}.css-1qxnh7a #carbonads{background-color:hsl(0, 0%, 98%);box-shadow:0 1px 4px 1px hsla(0, 0%, 0%, .1);display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Helvetica,Arial,sans-serif;margin-left:auto;margin-right:auto;max-width:330px;min-height:125px;}.css-1qxnh7a #carbonads a{border:none!important;color:inherit;-webkit-text-decoration:none!important;text-decoration:none!important;}.css-1qxnh7a #carbonads a:hover{color:inherit;}.css-1qxnh7a #carbonads span{display:block;overflow:hidden;position:relative;}.css-1qxnh7a #carbonads .carbon-wrap{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}.css-1qxnh7a #carbonads+a{display:none!importnt;}.css-1qxnh7a .carbon-img{display:block;line-height:1;margin:0;}.css-1qxnh7a .carbon-text{-webkit-align-items:center!important;-webkit-box-align:center!important;-ms-flex-align:center!important;align-items:center!important;display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important;font-size:13px;line-height:1.5;padding:10px;padding-left:10px!important;text-align:left;}.css-1qxnh7a .carbon-poweredby{background:repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);display:block;font-size:9px;font-weight:600;letter-spacing:0.5px;line-height:1;padding:8px 10px;text-align:center;text-transform:uppercase;}
.css-175mklm{border:0;clip:rect(1px, 1px, 1px, 1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;word-wrap:normal;}
.css-h0240q{box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex:0 0 30%;-ms-flex:0 0 30%;flex:0 0 30%;margin:1em auto;max-width:100%;width:100%;}@media screen and ( max-width: 900px ){.css-h0240q{-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;margin:0.5em auto;}}.css-h0240q h2{font-weight:300;margin:0;}@media screen and (max-width: 700px ){.css-h0240q#mobile-hide{display:none;}}
.css-1ew1k0h{-webkit-flex-basis:100px;-ms-flex-preferred-size:100px;flex-basis:100px;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;text-align:center;}
.css-7f50zt{height:50px;width:50px;}
.css-6plnry{font-size:0.75em;}
.css-1nov6qy{padding-bottom:1.25em;}
.css-1v6fukt{font-size:0.9em;line-height:1.5;margin:8px 0 0 0;padding-right:2em;}
.css-178vqfw{background-color:#e1e1e1;padding:40px 0;}
.css-13pbap6{font-size:1.25em;font-weight:normal;margin:0;text-align:center;text-transform:uppercase;}@media screen and ( max-width: 700px ){.css-13pbap6{margin-bottom:0;}}
.css-yz5dzl{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex-flow:row wrap;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;list-style-type:none;margin:0 auto;max-width:80%;padding:0;width:1000px;}
.css-udvnfw{-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%;margin-top:50px;}@media screen and ( max-width: 700px ){.css-udvnfw{-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;}}.css-udvnfw img{max-width:100%;}.css-udvnfw a{border:none;}
.css-tn996v{background-color:#474747;color:#fafafa;font-size:1em;padding:50px 0;}
.css-1d6swwb{margin:0 auto;max-width:90%;text-align:center;width:38em;}.css-1d6swwb>divnth-child(1){-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;}.css-1d6swwb>divnth-child(2){-webkit-flex:0 0 41.66666666666667%;-ms-flex:0 0 41.66666666666667%;flex:0 0 41.66666666666667%;}.css-1d6swwb>div p{line-height:1.75;}
.css-tjnake{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;padding-bottom:20px;}
.css-nkt64x{margin-right:10px;}
.css-uh5p2a{color:#fafafa;font-size:2.5em;font-weight:lighter;}
.css-1lvzovh{font-size:0.75em;margin:30px 0 20px 0;text-align:center;}
.css-1b0xw6o{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;padding:15px 0;}.css-1b0xw6o a{display:block;margin:0 10px;}
.css-1e1ncky{border:none;}
.css-rrel8y{width:24px;height:24px;}

.css-26l3qy-menu {
    top: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px, rgb(0 0 0 / 10%) 0px 4px 11px;
    margin-bottom: 8px;
    margin-top: 8px;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}
.css-11unzgr {
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    box-sizing: border-box;
}
.css-9gakcf-option {
    background-color: rgb(38, 132, 255);
    color: rgb(255, 255, 255);
    cursor: default;
    display: block;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}
.css-yt9ioa-option {
    background-color: transparent;
    color: inherit;
    cursor: default;
    display: block;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}
.css-yt9ioa-option:hover {
    background-color: rgb(222, 235, 255);
    color: inherit;
    cursor: default;
    display: block;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}
.css-yt9ioa-option:active {
    background-color: rgb(38, 132, 255);
    color: rgb(255, 255, 255);
    cursor: default;
    display: block;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}
